/Proyecto01/nbproject/private/
/Proyecto01/build/
/VentaDeCoche/nbproject/private/
/VentaDeCoche/build/
/CompraCasa/nbproject/private/
/CompraCasa/build/
/Aprendiendo-Java-02/nbproject/private/
/Aprendiendo-Java-02/build/
/Interfaces/nbproject/private/
/Interfaces/build/
/Aprendiendo-Java-03/nbproject/private/
/Aprendiendo-Java-03/build/
/Proyecto02-CatalogoArchivos/nbproject/private/
/Proyecto02-CatalogoArchivos/build/
/introJDBC/target/
/Java-JDBC/ManejoJDBC/nbproject/private/
